<h2 class="my-3">Inscription</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-3">
    <%= f.label :email %><br />
    <%= f.email_field :email,
      autofocus: true,
      autocomplete: "email",
      class: 'form-control',
      placeholder: 'Ex: rich.froning@gmail.com' 
    %>
  </div>

  <div class="mb-3">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password,
      autocomplete: "new-password",
      class: 'form-control',
      placeholder: 'Ex: ****************' 
    %>
  </div>

  <div class="mb-3">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation,
      autocomplete: "new-password",
      class: 'form-control',
      placeholder: 'Ex: ****************' 
    %>
  </div>

  <div class="actions">
    <%= f.submit 'Inscription', class: 'btn btn-info btn-block mt-3' %>
  </div>
<% end %>
<div class="float-right mt-3">
  <p>
    Déjà inscrit ? <%= render "devise/shared/links" %>
  </p>
</div>
