<% if notice %>
  <p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>

<div class="container w-75 mt-5">
	<h4>
		Adresse email: <%= @user.email %>
	</h4>
	<h4 class="mt-4">
		<% if current_user == @user %>
			Mes annonces:
		<% else %>
			Ces annonces:
		<% end %>
	</h4>
	<div>
		<ul>
			<% @user.cars.each do |car| %>
				<li>
					<%= link_to car.model, car_path(car) %>
				</li>
			<% end %>
	</ul>	
	</div>
</div>
