<h2 class="my-3">Connexion</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="mb-3">
    <%= f.label :email %><br />
    <%= f.email_field :email,
      autofocus: true,
      autocomplete: "email",
      class: 'form-control',
      placeholder: 'Ex: rich.froning@gmail.com'  %>
  </div>

  <div class="mb-3">
    <%= f.label :password %><br />
    <%= f.password_field :password,
      autocomplete: "current-password",
      class: 'form-control',
      placeholder: 'Ex: rich.froning@gmail.com'  %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="mb-3 form-check">
      <%= f.check_box :remember_me, class: 'form-check-input' %>
      <%= f.label :remember_me, class: 'form-check-label' %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit 'Connexion', class: 'btn btn-info btn-block mt-3' %>
  </div>
<% end %>

<div class="float-right mt-3">
  <p>
    Pas encore inscrit ? <%= render "devise/shared/links" %>
  </p>
</div>
