<%= form_with(model: car, local: true) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
        <% car.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :brand, value: 'Marque:' %>
    <%= form.text_field :brand,
      class: 'form-control',
      placeholder: 'Ex: Ford',
      include_blank: false,
      required: true
    %>
  </div>

  <div class="mb-3">
    <%= form.label :model, value: 'Model:' %>
    <%= form.text_field :model, 
      class: 'form-control',
      placeholder: 'Ex: Mustang', 
      include_blank: false, 
      required: true
    %>
  </div>

  <div class="mb-3">
    <%= form.label :mileage, value: 'Kilométrage:' %>
    <%= form.text_field :mileage, 
      class: 'form-control',
      placeholder: 'Ex: 10000',
      type: 'number', 
      include_blank: false, 
      required: true
    %>
  </div>

  <div class="mb-3">
    <%= form.label :year %>
    <%= form.date_select :year, 
      { :order => [:year],
        :start_year => 1900,
        :end_year => 2020 
      }, 
      { :class => 'form-control', include_blank: false, required: true }
    %>
  </div>

  <div class="custom-file my-3">
    <%= form.file_field :image, class: 'custom-file-input', include_blank: false, required: true %>
    <%= form.label :image, class: 'custom-file-label', value: 'Choisissez une photo' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-info btn-block mt-3' %>
  </div>
<% end %>