<% if notice %>
  <p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>

<h1 class="mb-5">Toutes les annonces</h1>

<div class="container">
  <div class="row">
    <% if @cars.length  != 0 %>
      <% @cars.each do |car| %>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <%= image_tag(car.image, class: 'card-img-top') %>
            <div class="card-body">
              <p class="card-text"><%= car.brand %></p>
              <div class="d-flex justify-content-between align-items-center row">
                <div class="col-9 text-left">
                  <% if current_user == car.user %>
                    <%= link_to 'Modifier', edit_car_path(car), class: 'btn btn-info btn-sm' %>
                    <%= link_to 'Supprimer', car, class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: 'Etes vous sur ?' } %>
                  <% end %>
                </div>
                <div class="col-3 text-right">
                  <%= link_to 'Voir', car, class: 'btn btn-sm' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <h6>
        Aucune annonces
      </h6>
    <% end %>
</div>