<% if notice %>
  <p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>

<div class="container w-75 mt-5">
	<div class="text-center">
		<%= image_tag(@car.image, class: 'rounded', style:'width: 100%') %>
	</div>
	<div class="row">
		<h1 class="my-4 col">
			<%= @car.brand %> | <%= @car.model %>
		</h1>
		<h6 class="col text-right my-4 mx-2">
			<%= link_to 'Propiétaire', user_path(@car.user), class: 'text-info' %>
		</h6>
	</div>
	<div class="pl-2">		
		<p>
			Kilométrage: <%= @car.mileage %> Km
		</p>
		<p>
			Année de mise en circulation: <%= @car.year %>
		</p>
	</div>
	<div class="actions float-right mt-5">
		<%= link_to 'Modifier', edit_car_path(@car), class: 'btn btn-sm btn-info' %>
    <%= link_to 'Supprimer', @car, class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: 'Etes vous sur ?' } %>
	</div>
</div>
