<header>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5">
	  <%= link_to 'Voitures', cars_path, class: 'navbar-brand' %>
	  <div class="collapse navbar-collapse">
	  	<% if user_signed_in? %>
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item" style="width: 200px">
		        <%= link_to 'Créer une annonce', new_car_path, class: 'nav-link' %>
		      </li>
		    </ul>
	  	<% end %>
	  </div>
	  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
      	<% if user_signed_in? %>
  				<%= link_to 'Profile', user_path(current_user), class: 'nav-link' %>
					<%= link_to 'Deconnexion', destroy_user_session_path, class: 'nav-link', method: :delete %>
      	<% else %>
	        <li class="nav-item">
	          <%= link_to 'Inscription', new_user_registration_path, class: "nav-link" %>
	        </li>
	        <li class="nav-item">
	          <%= link_to 'Connexion', new_user_session_path, class: "nav-link" %>
	        </li>
        <% end %>
      </ul>
    </div>
	</nav>
</header>