<!DOCTYPE html>
<html>
  <head>
    <title>TestSeniorMedia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'layouts/nav' %>
    <div class="container mt-4">
      <%= yield %>     
    </div>
  </body>
</html>
